export OAUTH_CLIENT_ID=cf...
export OAUTH_CLIENT_SECRET=3a...
export OAUTH_CALLBACK=https://off-peak.basement.se/auth/callback
export FIREBASE_PROJECT=
export FIREBASE_KEY=secrets/
export FIREBASE_DB=