.info-box {
  margin: 0px 10px;
}
.info-box dd {
  margin-inline-start: 0px;
  font-size: 1.8rem;
}
.info-box dl {
  margin: 0px auto 25px auto;
}
.info-box dt {
  margin: 16px 0px 4px 6px;
}
.period-switch {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .info-box {
    width: 700px;
  }
  .info-box dl {
    width: 100%;
  }

  .info-box .col {
    width: 50%;
    float: left;
  }
}

.fine-print {
  font-size: 0.7rem;
  font-style: italic;
  line-height: 15px;
  margin-top: 6px;
}
.how-did-i-do {
  font-size: 0.9rem;
  line-height: 1.1rem;
}
label.currency,
label.consumption {
  background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
  box-shadow: 0 3px 10px rgba(0,0,0,0.2), 4px 4px 0px #ccc;
  color: white;
  display: block;
  font-weight: 700;
  width: 95%;
  margin: 0px auto;
  line-height: 50px;
  padding: 4px;
  text-align: center;
  border-radius: 3px;
}
label.hour-cost {
  background: linear-gradient(90deg, #0ea5b0 0%, #2fb8ca 100%);
}
label.spot-cost {
  background: linear-gradient(90deg, #1a47c2 0%, #2358dd 100%);
}
label.nice {
  background: linear-gradient(90deg, #1e8449 0%, #27ae60 100%);
}
label.ouch {
  background: linear-gradient(90deg, #c0392b 0%, #d55c52 100%);
}
